<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm"></clr-icon>
                <span class="title">Cloud Automation Services Demo</span>
            </a>
        </div>
    </header>
    <nav class="subnav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">NLVMUG 2019</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">VMware Management Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CAS Blueprints Gitlab</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">VMware CODE Samples</a>
                </li>
            </ul>
        </nav>
    <div class="content-container">
        <div class="content-area">
            <div style="text-align:center">
                <h1>
                    Bedankt voor uw aandacht!
                </h1>
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="..." class="card clickable">
                            <div class="card-img">
                                <img src="../assets/dimitri.png" style="width: 75%; margin:0 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Dimitri de Swart, Cloud Management Specialist, VMware 
								</p>
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="..." class="card clickable">
                            <div class="card-img">
                                <img src="../assets/nlvmug.png" style="width: 75%; margin:0 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    De Nederlandse VMUG
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="..." class="card clickable">
                            <div class="card-img">
                                <img src="../assets/martijn1.png" style="width: 75%; margin:0 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Martijn Baecke, Cloud Management Evangelist, VMware</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin:0 auto;">
        <div>
        <img src="../assets/Vmware-Clariy-logo-2.png" width="100">
        Powered by VMware Clarity
    </div>
    </div>
</div>